<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>django-wishlist</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'signup' %}">Signup</a>
      <a href="{% url 'login' %}">Login</a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
      <a href="{% url 'add_wishlist' %}">Create a Wishlist</a>
      <a href="{% url 'user_detail' user.id %}">Profile</a>
      {% endif %}
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
