<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>django-wishlist</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/signup/">Signup</a>
      <a href="/login/">Login</a>
      {% if user.is_authenticated %}
      <a href="/logout/">Logout</a>
      <a href="/list/add/">Create a Wishlist</a>
      <a href="/user/{{user.id}}/">Profile</a>
      {% endif %}
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
